.bg {
    background-color: #f4f4f4;
    min-height: 100vh;
  }

li {
    margin-bottom: 10px;
}
.importante {
    color: red;
    font-weight: bold;
}
.navbar {
    background-color: #185476;
}

.lbl {
    color: #149fa4;
    font-weight: bold;
}