.bg {
    background-color: #f4f4f4;
    min-height: 100vh;
  }
  
  .navbar {
    background-color: #185476;
  }
  
  .nav-item {
    cursor: pointer;
  }

.btn {
    width: 100%;
    height: 50px;
}

.btn-pag {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #185476;
    cursor: pointer;
}

.btn-log:hover {
    background-color: #154866;
}

.form-control {
    border-radius: 25px;
    height: 50px;
}

.pass {
    border-radius: 25px;
    height: 50px;
    width: 100%;
}



.err {
    color: red;
    font-size: small;
}

.sel {
    width: 100%;
    border-radius: 25px;
    height: 50px;
    padding-left: 10px;
}

.form-group input {
    border-radius: 25px;
    height: 50px;
    width: 100%;
}

.merda {
    padding-top: 20px;
}